*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


h1{
    font-size: 50px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    font-family: sans-serif;
    text-decoration: underline;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.5)),url(pic/homeback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;

    position: absolute;
    top: 10%;
    transform: translate(-50);
    text-align: center;
    color: #fff;
    
}
.content h1{
    font-size: 72px;
    margin-top: 10px;  
    text-decoration: none; 
}.content h2{
    font-size: 48px;
    margin-top: 30px;  
    text-decoration: none; 
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;

}
.btn1{
    width: 10%;
    
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 20px;
    border: 4px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background-color: #009688;
    height: 100%;
    width: 70%;
    border-radius: 50px;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover::after span{
    width: 100%;
    left: 100%;

}
button:hover{
    z-index: 10;
    transform: scale(1.15);
    background-color: #009688;
    transition: 0s; 
}
.banner1{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.234),rgba(0, 0, 0, 0.748)),url(pic/physics.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-attachment: fixed;
}
.banner2{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.234),rgba(0, 0, 0, 0.748)),url(pic/math.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner3{
    width: 100%;
    height: 100%;
    background-image: url('pic/electrical.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center bottom;
}.bannerses{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.073),rgba(0, 0, 0, 0.982)),url(pic/ppr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.banner4{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.749)),url(pic/evs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.banner5{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.749)),url(pic/PHY2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.banner6{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.749)),url(pic/pps.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.banner7{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.354),rgba(0, 0, 0, 0.319)),url(pic/chemistry.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.banner8{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.43),rgba(0, 0, 0, 0.316)),url(pic/ss.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.banner9{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.16),rgba(0, 0, 0, 0.673)),url(pic/electronics.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}.banner20{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(70, 70, 70, 0.2),rgba(200, 200, 200, 0.8)),url(pic/abt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.banner10{
    width: 100%;
    height: 125%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.16),rgba(0, 0, 0, 0.673)),url(pic/mech.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}.banner11{
    width: 100%;
    height: 125%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.16),rgba(0, 0, 0, 0.673)),url(pic/chem2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#contact h1{
    height: 25px;
    font-weight: bolder;
    text-decoration: solid;
    border-bottom: 2px solid;
    padding: 15px;
    margin: 10px;
    width: 220px;
}
#contact h4{
    text-align: center;
    padding: 2px;
    text-decoration: underline;
    text-decoration: underline;
}
summary{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: underline;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    padding: 10px;
    margin: 10px;
}
.back{
background: radial-gradient(#f0f4fd, #a8caf9);
align-items: center center;
margin: 0%;
padding: 0%;
}

.btnlink{
    width: 80%;
    max-width: 100px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border-color: #8665f7;
    padding: 0 0;
    margin: 0 0;
    background: #8665f7;
    font-size: 15px;

}
.btnlink:hover{
    z-index: 10;
    transform: scale(1.12);
    background-color: #8665f7;
    transition: 0.5s;
    color: white;
}

.ses2btn,.ses2btn:hover{
    border-color: #453EEA;
    background: #453EEA;
}


.logo{
    min-width: 100px;
    width: auto;
    height: 80px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #8665f7;
    margin: 0 0;
    height: 80px;
    width: 100%;
    font-family: monospace;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: auto;
    margin: 5px 5px;
    margin-top: 31px;

}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    vertical-align: middle;
    margin: 2px;
    border-radius: 3px;
    text-decoration: none;

}
.active,a:hover{
    background: #fff;
    transition: .5s;
    color: #8665f7;
}

.sesh1{
    text-align: center;
    text-decoration: underline;
    font-family: monospace;
    font-size: 300%;
    color: #8665f7;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
.table-box{
    margin: 50px auto;

}
.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: monospace;
    background: transparent;
    padding: 12px auto;
    color: #555;
    font-size: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 50, 0.5);
}
.table-cell{
    display: table-cell;
    width: 30%;
    text-align: center;
    padding: 10px ;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.name{
    width: 70%;
    text-align: left;
    padding: 10px;
}
.link{
    min-width: 125px;
    width: 125px;
    
}
.head{
    background: #8665f7;
    box-shadow: none;
    color: white;
    font-size: 20px;
    font-weight: 1000;
}
